<ul id="navigation">
 <li class="home"><a href="home.html"></a></li>
 <li class="about"><a href="about.html"></a></li>
 <li class="contact"><a href="contact.html"></a></li>
 <li class="blog"><a href="blog.html"></a></li>
</ul>

<header class="site-header">

  <div class="wrap">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"></a>{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</header>




