<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav>
      <a href=" ">About Me</a>
      <a href=" ">Work</a>
      <a href=" ">Clients</a>
      <a href=" ">Content</a>
    </nav>

     
      </a>
      <div class="trigger">

    


        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
