 <ul id="navigation">
 <li class="home"><a href="home.html"></li>
 <li class="about"><a href="about.html">About></li>
 <li class="contact"><a href="contact.html">Contact></li>
 <li class="blog"><a href="blog.html">Blog></li>
</ul>


<header class="site-header">

  <div class="wrap">

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
    </div>
  </div>
</header>




